<section>
  <%# render 'shared/stats' %>
</section>
<div class="feed">
  <h4>Task Lists</h4>
  <%= render 'shared/task_lists' %>
  <h4>Tasks</h4>
  <%= render 'shared/task_form' %>
  <%= render 'shared/tasks' %>
</div>
