<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Say something about this..." %>
    <%= f.submit 'Post', class: "button" %>
  </div>
<% end %>
